extends layout

mixin entries(title, list)
  .row
    .portfolio-title.col-xs-12.text-right
      h3= title
      hr
  each entry in list
    .row
      .entry.col-xs-12
        if entry.link
          a.title(href=entry.link)= entry.title + ' - ' + entry.date
        else
          .title!= entry.title + ' - ' + entry.date
        .info
          ul.fa-ul
            each point in entry.points
              li!= point
                i.fa-li.fa.fa-angle-double-right

block content
  .container
    .row
      .header.col-xs-12.col-sm-8.col-md-8.col-lg-6
        .my-name Adnan Chowdhury
        hr
        .my-creds
          .row
            .col-xs-6.text-left
              sup
                |COMPUTER PROGRAMMER, MUSICIAN
            .col-xs.6.text-right
              a(href='/resume')
                sup RESUME
              sup= ' - '
              a(href='https://github.com/bttf')
                sup GITHUB
              sup= ' - ' 
              a(href='https://twitter.com/_adnanchowdhury')
                sup TWITTER
    .row
      .col-xs-12.col-sm-8.col-md-8.col-lg-6
        p.info= intro
        .portfolio
          +entries('Software Projects', software_entries)
          +entries('Music Projects', music_entries)
          +entries('Other Projects', other_entries)
